<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
       <a class="navbar-brand" href="/">Microposts</a>
        <li class="navbar-brand"><%= link_to 'User List ',users_path, class: 'nav-link' %></li>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
           <li class="nav-item"><%= link_to 'Profile ',user_path(current_user), class: 'nav-link' %></li>
        　<li class="nav-item"><%= link_to 'Logout', logout_path, method: :delete , data: { confirm: "LogOut?" },class: 'nav-link' %> </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>